extend layout
block content		
	if data && data.page
		.pageWrapper.mainSection
			.content
				h1=data.page.heading
				div!=data.page.content
				if data.page.name == 'contact'
					include ../partials/contact
	else 
		include ../partials/error